// When color definition differs for dark and light variant
// it gets @if ed depending on $variant
//
// Text/base
//gtk-color-scheme = "text_color:#e3e3e3\nbase_color:#404552"
//# Foreground/background
//gtk-color-scheme = "fg_color:#c4c4c4\nbg_color:#383C4A"
//# Selected foreground/background
//gtk-color-scheme = "selected_fg_color:#ffffff\nselected_bg_color:#5294E2"
//# Insensitive foreground/background
//gtk-color-scheme = "insensitive_fg_color:#767676\ninsensitive_bg_color:#272727"
//# Menus
//gtk-color-scheme = "menu_color:#262b2d"
//# Links
//gtk-color-scheme = "link_color:#168CC7\nvisited_link_color:#1795D4"
//# Treeview headers
//gtk-color-scheme = "column_header_color:#898b8b\nhover_column_header_color:#e3e3e3"
//# Window decoration
//gtk-color-scheme = "window_color:#2c3133"
//# Tooltips
//gtk-color-scheme = "tooltip_fg_color:#ffffff\ntooltip_bg_color:#242424"
//

$base_color: if($variant == 'light', #ffffff, #404552);
$text_color: if($variant == 'light', black, #e3e3e3);
$bg_color: if($variant == 'light', #e8e8e7, #383C4A);
$fg_color: if($variant == 'light', #2e3436, #dbdbdb);

$selected_fg_color: #ffffff;
$selected_bg_color: #5294E2;
$selected_borders_color: if($variant== 'light', darken($selected_bg_color, 30%), darken($selected_bg_color, 20%));
$borders_color: if($variant == 'light', darken($bg_color, 20%), darken($bg_color, 10%));
$alt_borders_color: if($variant == 'light', darken($bg_color, 35%), darken($bg_color, 17%));
$borders_edge: if($variant == 'light', transparentize(white, 0.2), transparentize($bg_color, 0.93));
$link_color: if($variant == 'light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 5%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color, 20%), darken($selected_bg_color, 5%));
$top_hilight: $borders_edge;
$dark_fill: mix($borders_color, $bg_color, 50%);
$headerbar_color: if($variant == 'light', lighten($bg_color, 5%), darken($bg_color, 3%));
$menu_color: if($variant == 'light', $base_color, mix($bg_color, $base_color, 20%));
$popover_bg_color: $bg_color;
$popover_hover_color: lighten($bg_color, 5%);

$scrollbar_bg_color: if($variant == 'light', mix($bg_color, $fg_color, 80%), mix($base_color, $bg_color, 50%));
$scrollbar_slider_color: mix($fg_color, $bg_color, 60%);
$scrollbar_slider_hover_color: mix($fg_color, $bg_color, 80%);
$scrollbar_slider_active_color: if($variant=='light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 1%));

$warning_color: #f57900;
$error_color: #cc0000;
$success_color: if($variant == 'light', #73d216, darken(#73d216, 10%));
$destructive_color: if($variant == 'light', #ef2929, darken(#ef2929, 10%));

$osd_fg_color: #dbdbdb;
$osd_text_color: #e3e3e3;
$osd_bg_color: transparentize(#1f1f1f, 0.3);
$osd_insensitive_bg_color: transparentize(mix($osd_fg_color, opacify($osd_bg_color, 1), 10%), 0.5);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize($bg_color, 0.3);

$sidebar_bg_color: mix($bg_color, $base_color, 50%);
$base_hover_color: transparentize($fg_color, 0.95);

$tooltip_borders_color: transparentize($bg_color, 0.9);
$shadow_color: transparentize($bg_color, 0.9);

$drop_target_color: #5294E2;

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant == 'light', darken($base_color, 1%), lighten($base_color, 1%));
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: if($variant == 'light', darken($backdrop_bg_color, 15%), lighten($backdrop_bg_color, 15%));
$backdrop_selected_fg_color: if($variant == 'light', $backdrop_base_color, $backdrop_text_color);
$backdrop_borders_color: mix($borders_color, $bg_color, 80%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 50%);

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);

$backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, 20%));
